.jumbotron {
    color: paleturquoise;
    margin-top: 50px;
    background-image: url(/images/banner.jpg);
    background-size: cover;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: papayawhip;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    margin-top: 15px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon {
    padding-right: 10px;
}

.boton-reserva-icon {
    padding-left: 10px;
}

.tab-content {
    padding-top: 10px;
}

