$verde: #82ffab;
$amarillo: #fffb00;
$rojo: #ff0000;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    color: $verde;
    @include margenes(50px, 15px);
    background-image: url(/images/banner.jpg);
    background-size: cover;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $verde;
    @include margenes(10px, 0px);

}

.card-hotel {
    @include margenes(15px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon {
    padding-right: 10px;
}

.boton-reserva-icon {
    padding-left: 10px;
}

.tab-content {
    padding-top: 10px;
}