.jumbotron {
  color: #82ffab;
  margin-top: 50px;
  margin-bottom: 15px;
  background-image: url(/images/banner.jpg);
  background-size: cover;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #82ffab;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  margin-top: 15px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0%;
}
.footer-address-icon {
  padding-right: 10px;
}
.boton-reserva-icon {
  padding-left: 10px;
}
.tab-content {
  padding-top: 10px;
}
